/* Code CSS pour les vagues */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh; /* La section des vagues occupe toute la hauteur de la fenêtre */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C3940; /* Fond noir pour la section */
}

section .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

section .wave span {
  content: "";
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

/* Animation des vagues */
section .wave span:nth-child(1) {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

section .wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

section .wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/* Contenu principal */
.content {
  position: relative;
  z-index: 1;
  font-size: 6em;
  letter-spacing: 2px;
  color: #fff;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23232f;
}

/* Style du bouton */
.button {
    all: unset;
    height: 50px;
    width: 200px; /* Ajusté pour plus de largeur si nécessaire */
    text-align: center;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 5px;
    outline: 2px solid royalblue;
    outline-offset: 5px;
    transition: 0.4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

.button:active {
    transform: scale(0.9);
}

/* Progress bar dans le bouton */
.progress {
    position: absolute;
    inset: -20px 0 0 0;
    background-image: linear-gradient(to top, royalblue, deeppink);
    clip-path: polygon(0 0, 50% 20%, 100% 0, 100% 100%, 0 100%);
}

/* Texte du bouton */
.value {
    position: relative;
}

/* Animation du bouton pendant le téléchargement */
.button.start-download {
    width: 50px;
    border-radius: 50%;
}

.onefm {
  text-align: center;
  margin: 0px 0; /* Espace autour de l'image */
  background-color: #000;
  
}
