@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Animation du background */
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

/* Styles généraux */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Exo', sans-serif;
  text-align: center;
  
  /* Arrière-plan animé */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat;
  animation: bg-scrolling-reverse 0.92s infinite linear;
}

/* Titre principal */
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem; /* Texte très grand */
  font-weight: 900;
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  width: 100vw;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.8); /* Ajout d'un léger contour pour meilleure lisibilité */
}
